@{title('References')}

<h1>Product</h1>
<div class="row">
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/3_Fonteinen_Oude_Geuze_800x.jpg" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/8Wired_Bumaye_2013_800x.jpg" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/8Wired_Hopwired_New_Label_800x.jpg" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/8Wired_Lord_of_the_Atlas_800x.jpg" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/Anderson_Valley_Pinchy_Jeek_Barl_800x.jpg" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
	</div>
<!-- 	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" /><span class="reference-title"><b>Lorem Ipsum</b><span>Lorem Ipsum Alias</span></span></a>
	</div> -->
</div>